
.container {
  max-width: 72rem;
  padding: 1rem;
  margin: 0 auto;
}

.goals {
    margin: 0;
    background: rgb(6, 105, 19);
    color: rgb(255, 255, 255);
    padding: 0.25rem 0rem;
    width: 230px;
    height: 200px;
  
    &:hover {
      background: #222;
    }
  }
  
  .gallery {
    background-color: rgb(255, 255, 255);
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  .featured {
    grid-column: span 2;
  }