@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
.card{
    display: flex;
    align-items: center;
    width: 300px;
    height: 380px;
    background-color: #fff;
    background-origin: 0 15px 45px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Poppins";
    transition: 0.5s;
}
.card:hover{
    width: 600px;
}

.imgbox{
    position: relative;
    min-width: 300px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.card:hover .imgbox{
    transform: rotate(-35deg);
}

.card .imgbox img{
    width: 85%;
}

.details{
    position: relative;
    min-width: 300px;
    background: #8C1C13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
}

.card .details::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #000;    
}

.details .title{
    font-weight: 200;
    font-size: 0.9em;
}

.details h4{
    font-size: 0.9em; 
}

.details .description p{
    font-weight: 200;
    font-size: 0.8em;
}