$c-bezier: cubi-bezier(.1,.22,.8,1.13);

.card{
    height: 20px;
    width: 20px;
    background-color: rebeccapurple;
}

.cards_grid{
    display: flex;
    grid-gap: 80px;
    padding-bottom: 60px;
}

.flip_card{
    width: 320px;
    height: 504px;
    perspective: 2000px;

    &-inner{
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 20px rgba(#0000, 0.2);
        border-radius: 28px;
        transition: all 550ms $c-bezier;
        transform-style: preserve-3d;
    }

    &-front, &-back{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 28px
        //backface-visibility: hidden;
    }

    &-front{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-back{
        font-size: 1.25rem;
        text-align: center;
        display: grid;
        place-items: center;
        padding: 32px;
        background-color: #b1cfc8;
        transform: rotateY(180deg);
    }

    &:hover .flip_card_inner{
        transform: rotateY(-180deg);
    }

}
@function info ($contenido){
    @return $contenido
}
