@import '/styles/settings/_settings';

.show {
  @include xl {
    display: flex;
  }
  margin-bottom: 4rem;
  filter: blur(0px);
  transition: all 1s;
}

.hidden {
  @include xl {
    display: flex;
  }
  filter: blur(32px);
  margin-bottom: 4rem;
  transition: all 1s;
}

.image {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 8px;
  width: 100%;
}

.text {
  @include xl {
    padding: 3rem;
    font-weight: 500;
  }
  font-size: 1.2rem;
  text-align: justify;
  padding: 1rem;
}