@import '/styles/settings/_settings';

@mixin textBase {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  @include md {
    font-size: 1.80rem;
  }
  @include xl {
    font-size: 2rem;
  }
}

.text {
  @include textBase;
  animation-name: blur;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

.hide {
  @include textBase;
  animation-name: hideAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.inactive {
  @include textBase;
  opacity: 0;
}



@keyframes blur {
  0% {
    transform: translateY(80px);
  }
  10% {
    transform: translateY(40px);
  }
  25%, 100% {
    transform: translateY(0px);
  }
}

@keyframes hideAnimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(80px);
    display: none
  }
}