@import '/styles/settings/_settings';
// @include settings;

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.content {
  @include md {
    width: 80%;
  }
  @include xl {
    width: 50%;
  }
  width: 90%;
}