@import '/styles/settings/_settings';

.button {
  margin: 0;
  background: purple;
  color: white;
  padding: 0.25rem 0rem;
  width: 100vw;
  height: 220px;

  &:hover {
    background: #222;
  }
}



