@import '/styles/settings/_settings';

@mixin textBase {
    font-size: 4rem;
}

.inicio {
    background: white;
    width: 0px;
    height: auto;
}

.final {
    background: white;
    transition: all 1s;
    width: 100%;
    height: auto;
}

.inicio_texto {
    @include textBase;
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    
}

.final_texto {
    @include textBase;
    background-color: red;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    transition: all 1s;
}